<div class="book-category">
  <div class="category-title">
    <span>COMBINED PRINT & E-BOOK FICTION</span>
  </div>
  <div class="books">
    <ul class="books-category-list">

      <li>
        <div class="book-category-card">
          <img class="bookByCategory-cover" src="./img/bg-group-picture/1.jpg" alt="Назва книги">
          <div class="book-category-details">
            <h3 class="book-category-title">Назва книги</h3>
            <p class="book-category-author">Автор книги</p>
          </div>
        </div>
      </li>
      <li>
        <div class="book-category-card">
          <img class="bookByCategory-cover" src="./img/bg-group-picture/1.jpg" alt="Назва книги">
          <div class="book-category-details">
            <h3 class="book-category-title">Назва книги</h3>
            <p class="book-category-author">Автор книги</p>
          </div>
        </div>
      </li>
      <li>
        <div class="book-category-card">
          <img class="bookByCategory-cover" src="./img/bg-group-picture/1.jpg" alt="Назва книги">
          <div class="book-category-details">
            <h3 class="book-category-title">Назва книги</h3>
            <p class="book-category-author">Автор книги</p>
          </div>
        </div>
      </li>
      <li>
        <div class="book-category-card">
          <img class="bookByCategory-cover" src="./img/bg-group-picture/1.jpg" alt="Назва книги">
          <div class="book-category-details">
            <h3 class="book-category-title">Назва книги</h3>
            <p class="book-category-author">Автор книги</p>
          </div>
        </div>
      </li>
      <li>
        <div class="book-category-card">
          <img class="bookByCategory-cover" src="./img/bg-group-picture/1.jpg" alt="Назва книги">
          <div class="book-category-details">
            <h3 class="book-category-title">Назва книги</h3>
            <p class="book-category-author">Автор книги</p>
          </div>
        </div>
      </li>

    </ul>
  </div>
  <button class="see-more">SEE MORE</button>
</div>