  <div class="logo-box">
    <a href="./index.html">
      <img src="logo.png" alt="Bookshelf Logo" class="logo">
    </a>
  </div>

  <nav class="navbar">
    <a href="#" class="home">HOME</a>
    <a href="#" class="shopping-list">SHOPPING LIST</a>
  </nav>
  
  <div class="header-right">
    <div id="theme-switcher">
      <input type="checkbox" id="theme-toggle">
      <label for="theme-toggle" id="theme-toggle-label"></label>
    </div>
    <button class="menu-toggle">
      <svg class="icon-burger-menu" width="28" height="28">
        <use href="./img/javascript.svg"></use>
      </svg>
    </button>
  </div>
