<div class="header-left">
  <div class="logo-box">
    <a href="../index.html" class="header-logo-link">
      <svg class="icon-logo" width="109" height="28">
        <use href="../img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
  </div>

  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-bar-active">
        <a href="/index.html" class="home">HOME</a>
      </li>
      <li>
        <a href="src/partials/shoping-list.html" class="shopping-list"
          >SHOPPING LIST<svg class="icon-shopping-list" width="20" height="20">
            <use xlink:href="../img/sprite.svg#icon-shoping-list"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="header-right">
  <div id="theme-switcher">
    <input type="checkbox" id="theme-toggle" />
    <label for="theme-toggle" id="theme-toggle-label"></label>
  </div>
  <button class="menu-toggle">
    <svg class="icon-burger-menu" width="28" height="28">
      <use xlink:href="../img/sprite.svg#icon-align-left1"></use>
    </svg>
  </button>
</div>
