<div class="header-left">
  <div class="logo-box">
    <a href="./index.html" class="header-logo-link">
      <svg class="icon-logo" width="24" height="24">
        <use href="#"></use>
      </svg>Bookshelf</a>
  </div>

  <nav class="navbar">
    <a href="#" class="home">HOME</a>
    <a href="#" class="shopping-list">SHOPPING LIST
      <svg class="icon-shoping-list" width="20" height="20">
        <use href="#"></use>
      </svg>
    </a>
  </nav>
</div>

<div class="header-right">
  <div id="theme-switcher">
    <input type="checkbox" id="theme-toggle">
    <label for="theme-toggle" id="theme-toggle-label"></label>
  </div>
  <button class="menu-toggle">
    <svg class="icon-burger-menu" width="28" height="28">
      <use href="./img/javascript.svg"></use>
    </svg>
  </button>
</div>