<div class="mobileMenu">
  <div class="mobileMenu-content">
    <ul class="nav-list mobileMenu-list">
      <li class="nav-list-home-item"><a href="./index.html" class="home">Home</a></li>
      <li class="nav-list-shopping-item"><a href="./shoping-list.html" class="shopping-list">Shopping List 
        <svg class="icon-shopping-list" width="14" height="20">
          <use href="./img/sprite.svg#icon-shoping-list"></use>
        </svg>
      </a></li>
    </ul>
  </div>

  <div class="bg-image-content">
    <ul class="bg-image-list">
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/3.jpg" alt="bg_picture_1"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/4.jpg" alt="bg_picture_2"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/1.jpg" alt="bg_picture_3"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/5.jpg" alt="bg_picture_4"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/2.jpg" alt="bg_picture_5"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/6.jpg" alt="bg_picture_6"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/7.jpg" alt="bg_picture_7"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/8.jpg" alt="bg_picture_8"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/9.jpg" alt="bg_picture_9"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/10.jpg" alt="bg_picture_10"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/11.jpg" alt="bg_picture_11"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/12.jpg" alt="bg_picture_12"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/3.jpg" alt="bg_picture_13"></li>
      <li class="bg-image-list-item"><img src="./img/bg-group-picture/9.jpg" alt="bg_picture_14"></li>
    </ul>
  </div>
</div>