
<div id="modal" class="modal open">
    <div class="modal-body">
    <div class="modal-content">
        <a class="modal-close">X</a>
        <div class="box">
        <img class="book-cover" src="../img/javascript.svg" alt="" width = "287" height = "408">
        <div class="text-content">
        <h2 class="book-title">title</h2>
        <p class="book-author">author</p>
        <p class="book-description">In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark past resurfaces as he gets to the know the family of his college sweetheart.</p>
        <div class="marketplace">
            <a class="marketplace-logo amazon">amazon</a> 
            <a class="marketplace-logo apple-books">apple-books</a>
        </div>
        </div>
    </div>
        <button class="add-to-list">Add to shopping list</button>
    </div>
</div>
</div>