<div id="modal" class="modal">
  <div class="modal-body">
    <div class="modal-content">
      <svg class="modal-close">
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>

      <div class="box">
        <img
          class="book-cover"

          src=""
          alt=""
          

        />
        <div class="text-content">
          <h2 class="book-title"></h2>
          <p class="book-author"></p>
          <p class="book-description"></p>
          <div class="marketplace">
            <a href="" target="_blank" class="marketplace-logo amazon"
              ><img
                class="amazon-logo-icon"
                src="./img/salers1.png"
                alt="amazon"
            /></a>
            <a
              href=""
              target="_blank"
              class="marketplace-logo apple-books"
              alt="apple"
              ><img src="./img/salers2.png"
            /></a>
          </div>
        </div>
      </div>
      <button class="add-to-list">Add to shopping list</button>
      <p class="under-btn-text">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”
      </p>
    </div>
  </div>
</div>
