<!-- Разметка для одной карточки shopping list -->

<ul class="shopping-list">
  <li class="shopping-list-card">
    <img
      class="book-cover"
      src="./img/ok.jpg"
      alt=""
      width="116px"
      height="165px"
    />
    <div class="shopping-list-text">
      <h2 class="book-name">book name</h2>
      <p class="book-category">category</p>
      <p class="book-description">description</p>
      <p class="book-author">author</p>
    </div>
    <button class="delete-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34"
        height="34"
        viewBox="0 0 34 34"
        fill="none"
      >
        <ellipse cx="17" cy="17" rx="17" ry="17" fill="#4F2EE8" />
      </svg>
    </button>
    <ul class="stores-list">
      <li>
        <a href="">
          <img
            class="book-cover"
            src="./img/ok.jpg"
            alt=""
            width="48px"
            height="15px"
        /></a>
      </li>
      <li>
        <a href="">
          <img
            class="book-cover"
            src="./img/ok.jpg"
            alt=""
            width="28px"
            height="27px"
        /></a>
      </li>
    </ul>
  </li>
</ul>
