<!-- Разметка для одной карточки shopping list -->

<ul class="shopping-list">
  <li class="shopping-list-card">
    <img
      class="book-cover"
      src="../img/cover-placeholder.jpg"
      alt=""
      width="116px"
      height="165px"
    />
    <div class="shopping-list-text">
      <h2 class="book-name">book name</h2>
      <p class="book-category">category</p>
      <p class="book-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero illo et
        blanditiis omnis nisi recusandae quibusdam saepe. Pariatur,
        exercitationem sit. Assumenda labore sequi, accusamus illum ipsam iusto
        dicta quas fugit quisquam ad officiis. Delectus, odio aspernatur
        pariatur eius quidem exercitationem officiis cum totam consequuntur,
        eligendi dolorem autem sint praesentium unde.
      </p>
      <p class="book-author">author</p>
    </div>
    <button class="delete-btn">
      <svg class="icon-burger-menu" width="34" height="34">
        <use href="../img/sprite.svg#icon-dump"></use>
      </svg>
    </button>
    <ul class="stores-list">
      <li>
        <a href="">
          <img
            class="book-salers"
            src="../img/salers1.png"
            alt=""
            width="48px"
            height="15px"
        /></a>
      </li>
      <li>
        <a href="">
          <img
            class="book-salers"
            src="../img/salers2.png"
            alt=""
            width="28px"
            height="27px"
        /></a>
      </li>
    </ul>
  </li>
</ul>
