<ul class="shopping-list">
  <li class="shopping-list-card">
    <img
      class="book-cover"
      src="./img/ok.jpg"
      alt=""
      width="116px"
      height="165px"
    />
    <div>
      <h2 class="book-name">book name</h2>
      <p class="book-category">category</p>
      <p class="book-description">
        description David Burroughs was once a devoted father to his
        three-year-old son Matthew, living a dream life just a short drive away
        from the working-class suburb where he and his wife, Cheryl, first fell
        in love--until one fateful night when David woke suddenly to discover
        Matthew had been murdered while David was asleep just down the hall.
      </p>
      <p class="book-author">author</p>
    </div>
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34"
        height="34"
        viewBox="0 0 34 34"
        fill="none"
      >
        <ellipse cx="17" cy="17" rx="17" ry="17" fill="#4F2EE8" />
      </svg>
    </button>
    <ul>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
    </ul>
  </li>
</ul>
