.open {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-top: 150px;
}

.author-win {
  display: flex;
  justify-content: center;
  overflow: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #4f2ee8;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  max-width: 579px;
  width: 100%;
  padding: 80px 40px 40px 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-shrink: 0;
  border-radius: 18px;
  border: 2px solid #111;
  background: #f6f6f6;
}

.btn-close {
  position: absolute;
  flex-shrink: 0;
  top: 24px;
  right: 24px;
  width: 28px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.form-win {
  display: flex;
  flex-direction: column;
  max-width: 499px;
  width: 100%;
  height: 100%;
}

.form-div {
  display: flex;
  justify-content: center;
  max-width: 499px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  margin-bottom: 40px;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.form-container {
  max-width: 499px;
  width: 100%;
}

.form-label {
  display: block;
  color: #111;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.form-wrapper {
  position: relative;
}

.form-input {
  -webkit-text-fill-color: #111;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  width: 100%;
  padding: 20px 173px 20px 40px;
  border-radius: 40px;
  border: 3px solid #111;
  background: #f6f6f6;
}

.icon-modal {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal:hover,
.icon-modal:focus {
  background-color: #4f2ee8;
}

.enter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.submit {
  color: #f3f3f3;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  display: flex;
  max-width: 499px;
  width: 100%;
  padding: 20px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  background: #111;
}

.toggle-btn-in {
  padding-left: 20px;
  color: rgba(17, 17, 17, 0.5);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.toggle-btn-up {
  color: rgba(17, 17, 17, 0.5);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.active {
  color: #4f2ee8;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  border: none;
  text-decoration: underline;
  background-color: transparent;
}

.toggle-btn-in:focus {
  vertical-align: middle;
  color: #4f2ee8;
  text-decoration: underline;
}

.toggle-btn-up:focus {
  vertical-align: middle;
  color: #4f2ee8;
  text-decoration: underline;
}
