.best-sellers-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-x: hidden;
}

.bestselllersTitle {
  margin-top: 20px;
  margin-bottom: 40px;
}

.titleSpan {
  color: var(--violet);
}

.category-title {
  margin-bottom: 18px;
}

.category-title span {
  color: #b4afaf;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.42px;
}

.books {
  display: flex;
  gap: 10px;
}

.bookByCategory-img {
  width: 100%;
  height: 485px;
  border-radius: 8px;
}
.see-more {
  padding: 14px 28px;
  border-radius: 40px;
  color: #111;
  background-color: var(--see-more-bgc-hover);
  border: 2px solid var(--violet);
  margin-top: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  float: right;
}

.dark-theme .see-more {
  color: var(--logo-text-dark);
}
.see-more:hover,
.see-more:focus {
  background: var(--violet);
  color: var(--logo-text-dark);
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* стилізація карточок */

.book-category-card {
  display: flex;
  cursor: pointer;
  width: 335px;
  max-height: 535px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  /* border: 1px solid #ddd; */
  /* border-radius: 5px; */
  overflow: hidden;
  /* background-color: #fff; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  transition: transform 0.2s ease-in-out;
}

.book-category-card:hover {
  transform: translateY(-5px);
}

.bookByCategory-cover {
  width: 100%;
  height: auto;
  display: block;
}

.book-category-details {
  display: flex;
  max-width: 180px;
  flex-direction: column;
  gap: 4px;
}

.book-category-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  font-weight: bold;
  color: var(--primary-text-color);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-category-author {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!  Телефон*/
@media (max-width: 767px) {
  .book-category {
    max-width: 335px;
    margin: 0;
  }

  .book-category-card {
    display: none;
  }

  .book-category-card.mobile-visible {
    display: flex;
  }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!! Планшет */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .book-category {
    max-width: 704px;
  }
}

@media screen and (min-width: 768px) {
  .book-category {
    margin: 0;
  }

  .bookByCategory-img {
    height: 316px;
  }

  .book-category-card {
    width: 218px;
    height: 366px;
  }

  .see-more {
    margin-top: 20px;
  }

  .books-category-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .category-title span {
    line-height: 18px;
  }

  .book-category-card {
    display: none;
  }

  .book-category-card.tablet-visible {
    display: flex;
  }
}

/* !!!!!!!!!!!!!!!!!!!!! Ноутбук */
@media screen and (min-width: 1158px) {
  .bookByCategory-img {
    height: 256px;
  }

  .best-sellers-list {
    width: 75%;
    max-width: 996px;
    float: right;
    margin-right: 24px;
    margin-bottom: 40px;
  }

  /* sidebar */

  .book-category-card {
    width: 180px;
    height: 306px;
  }

  .see-more {
    margin-top: 32px;
  }

  .books-category-list {
    gap: 24px;
  }

  .book-category-card {
    display: none;
  }

  .book-category-card.desktop-visible {
    display: flex;
  }
}

/* .............*/
