
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-right {
  display: flex;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  height: 24px;
  margin-right: 8px;
}

.navbar {
  display: flex;
}


.navbar a:hover,
.navbar a:focus {
  background: #FFC107;
}

#theme-switcher {
  position: relative;
}

#theme-toggle {
  display: none;
}

#theme-toggle-label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: #DDD;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

#theme-toggle-label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #FFF;
  border-radius: 50%;
  transition: transform 0.3s;
}

#theme-toggle:checked+#theme-toggle-label::after {
  transform: translateX(20px);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}