header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 18px 20px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.logo-box {
  height: 28px;
}

.header-logo-link {
  display: flex;
  align-items: center;
}

.header-logo-icon {
  margin-right: 8px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-bar-active {
  border-radius: 36px;
  background: #eac645;
}

.home {
  padding: 8px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.56px;
}

.shopping-list {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2.3px 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.56px;
}

#theme-switcher {
  position: relative;
  display: flex;
  align-items: center;
}

#theme-toggle {
  display: none;
}

#theme-toggle-label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: #ddd;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  background-image: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

#theme-toggle-label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

#theme-toggle:checked + #theme-toggle-label::after {
  transform: translateX(20px);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.icon-burger-menu {
  stroke: #111;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 72px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1158px) {
  header {
    height: 72px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .header-left {
    gap: 76px;
  }

  .nav-list {
    gap: 24px;
  }
}

/* themes ////////////////////////*/

.light-theme {
  /*  */
}

.light-theme #theme-toggle-label {
  background-image: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
}

.dark-theme {
  background-color: #202024;
  color: #ffffff99;
}

.dark-theme header {
  background-color: #222;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  background: #111;
  border-color: #f3f3f3;
  color: #f3f3f3;
}

.dark-theme .nav-bar-active {
  color: #111;
}

.dark-theme #theme-toggle-label {
  background-image: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

.dark-theme .icon-logo {
  fill: #f3f3f3;
}

.dark-theme .icon-burger-menu {
  stroke: #f3f3f3;
}

.dark-theme .icon-shopping-list {
  fill: #f3f3f3;
}
