header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 18px 20px;
  background: var(--white);
  box-shadow: 0 2px 4px var(--header-box-shadow);
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--black);
  position: relative;
  z-index: 21;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.logo-box {
  height: 28px;
}

.header-logo-link {
  display: flex;
  align-items: center;
}

.header-logo-icon {
  margin-right: 8px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-bar-active {
  border-radius: 36px;
  background: var(--yellow);
}

.nav-bar-active:focus,
.nav-bar-active:hover{
  transform: translateY(-3px);
}

.nav-list-shopping-item.nav-bar-active .shopping-list{
  padding: 2.3px 12px;
}

.nav-list-home-item.nav-bar-active .home{
  padding: 8px 16px;
}



.home {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.56px;
}

.home:hover,
.home:focus{
  transform: translateY(-3px);
}

.shopping-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.icon-shopping-list {
  margin-left: 3px;
}

.shopping-list:hover,
.shopping-list:focus{
  transform: translateY(-3px);
}

#theme-switcher {
  position: relative;
  display: flex;
  align-items: center;
}

#theme-toggle {
  display: none;
}

#theme-toggle-label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: #ddd;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  background-image: var(--theme-switcher-white);
  box-shadow: 1px 1px 2px 0px var(--header-box-shadow) inset;
}

#theme-toggle-label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

#theme-toggle:checked + #theme-toggle-label::after {
  transform: translateX(20px);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.icon-burger-menu {
  stroke: #111;
}

.icon-burger-menu:hover,
.icon-burger-menu:focus{
  stroke: var(--category-btn-hover);
}


@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 72px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1158px) {
  header {
    height: 72px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .header-left {
    gap: 76px;
  }

  .nav-list {
    gap: 24px;
  }
}

/* themes ////////////////////////*/

.light-theme {
  /*  */
}

.light-theme #theme-toggle-label {
  background-image: var(--theme-switcher-white);
}

.dark-theme {
  background-color: var(--dark-bg-cl);
  color: #ffffff;
}

.dark-theme header {
  background-color: var(--black);
  box-shadow: 0 2px 4px var(--header-bax-shadow-white);
  border-color: var(--logo-text-dark);
  color: var(--logo-text-dark);
}

.dark-theme .nav-bar-active {
  color: var(--black);
}

.dark-theme #theme-toggle-label {
  background-image: var(--theme-switcher-dark);
}

.dark-theme .icon-logo {
  fill: var(--logo-text-dark);
}

.dark-theme .icon-burger-menu,
.dark-theme .icon-close {
  stroke: var(--logo-text-dark);
}

.dark-theme .icon-shopping-list {
  fill: var(--logo-text-dark);
}

.dark-theme .nav-bar-active .icon-shopping-list {
  fill: var(--black);
}


