.shopping-list-card {
  display: flex;
  width: 996px;
  height: 213px;
  padding: 24px;
  align-items: flex-start;

  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
}

.shopping-list-card:not(:last-child) {
  margin-bottom: 20px;
}

.book-name {
  margin-bottom: 4px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.book-category {
  margin-bottom: 14px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.03em;
}
.book-description {
  margin-bottom: 48px;
  width: 808px;
  height: 53px;

  font-size: 14px;

  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0.04em;
}
.book-author {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.book-cover {
  margin-right: 24px;
}
