aside {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: center;
  max-width: 335px;
  margin: 40px auto 0;
}

@media screen and (min-width: 768px) {
  aside {
    flex-direction: row;
    gap: 32px;
    max-width: 704px;
  }
}

@media screen and (min-width: 1158px) {
  aside {
    flex-direction: column;
    width: 25%;
    float: left;
  }
}
