aside {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  aside {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1158px) {
  aside {
    flex-direction: column;
    width: 25%;
    float: left;
  }
}
