.support-container {
  margin-top: 30px;
  font-family: DM Sans;
  display: flex;
  flex-direction: column;
  max-width: 335px;
  height: 460px;
  border-radius: 16px;
  color: #fff;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );

  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
}
@media only screen and (min-width: 768px) {
  .support-container {
    height: 474px;
  }
}

@media only screen and (min-width: 1158px) {
  .support-container {
    width: 356px;
  }
}
.support-header {
  height: 32px;
  display: flex;
  align-items: center;
  font-style: normal;
  gap: 12px;
  margin-left: 40px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.suppot-h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 109.091%;
  letter-spacing: -0.88px;
}
@media only screen and (min-width: 768px) {
  .support-h3 {
    font-size: 24px;
  }
}

.foundations-list {
  height: 292px;
  width: 149px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-left: 40px;
  overflow: hidden;
}
.support-foundation {
  display: flex;
  align-items: center;
  gap: 16px;
}
.support-slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #fff;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 0;
}
.foundation-logo {
  filter: brightness(0) invert(1);
}
